.vscode/**
.vscode-test/**
src/**
vendor/**
resources/wasm_build/**
resources/wasm/**
resources/boards/**
node_modules/**
!node_modules/@abandonware/**
!node_modules/@abandonware/noble/lib/mac/native/**
!node_modules/@abandonware/noble/lib/win/native/**
!node_modules/node-gyp-build/**
.gitmodules
.github/**
doc/**
tsconfig.json
webpack.config.js
eslint.config.*
Makefile
mruby_build_config.rb
mruby_build_config.rb.lock
package-lock.json
.DS_Store
.gitignore
app.rb
SECURITY.md
out/test/**
**/*.map
**/*.ts
