.vscode/**
.vscode-test/**
src/**
vendor/**
resources/wasm_build/**
resources/wasm/**
resources/boards/**
resources/blink.svg
node_modules/**
!node_modules/@abandonware/**
.gitmodules
.github/**
doc/**
tsconfig.json
webpack.config.js
eslint.config.*
Makefile
mruby_build_config.rb
mruby_build_config.rb.lock
package-lock.json
.DS_Store
.gitignore
app.rb
SECURITY.md
**/*.map
**/*.ts
