.vscode/**
.vscode-test/**
src/**
vendor/**
resources/wasm_build/**
resources/wasm/**
resources/boards/**
node_modules/**
!node_modules/@abandonware/noble/package.json
!node_modules/@abandonware/noble/index.js
!node_modules/@abandonware/noble/with-custom-binding.js
!node_modules/@abandonware/noble/lib/**/*.js
!node_modules/@abandonware/noble/lib/**/*.json
!node_modules/@abandonware/noble/build/Release/binding.node
!node_modules/@abandonware/bluetooth-hci-socket/package.json
!node_modules/@abandonware/bluetooth-hci-socket/index.js
!node_modules/@abandonware/bluetooth-hci-socket/lib/native.js
!node_modules/@abandonware/bluetooth-hci-socket/build/Release/bluetooth_hci_socket.node
!node_modules/node-gyp-build/**
!node_modules/debug/**
!node_modules/ms/**
.gitmodules
.github/**
doc/**
tsconfig.json
webpack.config.js
eslint.config.*
Makefile
mruby_build_config.rb
mruby_build_config.rb.lock
package-lock.json
.DS_Store
.gitignore
app.rb
SECURITY.md
out/test/**
**/*.map
**/*.ts
